@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


*{
    margin: 0;
    padding: 0;
}
html,body{ 
    overflow-x: hidden;
    background-color: white;
   font-family: 'Montserrat', sans-serif;
}


/*---------------------NAVBAR--------------------*/

#nav-bar{
    position: sticky;
    z-index: 10;
    top: 0;
}

.navbar{
    background-color: #2082f7;
    padding: 0 !important;
}

.navbar-brand img{
    height: inherit;
    width: 70%;
    padding-left: 40px;
}

.navbar-nav li {
    text-transform: uppercase;
    padding: 0 20px;
    margin-right: 50px;
    font-size: 1.2rem
}

.navbar-nav li a{
    color: white;
    font-weight: 600; 
    float: right;
    text-align: left;
    
}
.navbar-nav li button{
    border: none;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    background-color: #2082f7;
    color: white; 
    font-weight: 600; 
    float: right;
    text-align: left;
    transition: transform 80ms ease-in;
    border-style: none;
}
.navbar-nav li button:hover{
    border: none;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    background-color: #2082f7; !important
    
}

    

.navbar-nav li button:active {
    transform: scale(0.95);
}

.navbar-nav li button:focus {
    outline: none;
}

.navbar-nav li button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
}  

.navbar-toggler {
    outline: none !important
}  
 

/*------------------BANNER----------------*/
#banner{
    background-color: #2082f7;
    padding-top: 5%;
    
}
.something{
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
}


/*-----------------POPUP----------*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-body {
  background-color: #fefefe;
  border-radius: 10px;

  left: 30%;
  width: 40%; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}


@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-content{
    flex-direction: column;
    
   border-radius: 10px; 
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-body-customer{
    margin-left: 35%;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 70%;
    height: 10%;
    margin-bottom: 10%;
}

.modal-body-agent{
    margin-left: 10%;
    margin-bottom: 10%;
    width: 70%;
    justify-content: center;
    align-content: center;
    text-align: center;
}


.modal-body-agent:hover{
    transform: scale(1.1);
}
.modal-body-customer:hover{
    transform: scale(1.1);
}


/*-------------TABLE-------------------*/

.limiter {

  width: 100%;
  padding-top: 0px;
  margin: auto;
    width: 75%;
    text-align: left;
    font-size: 145%;
  /*margin: 0 auto;*/
}

.container-table100 {
  width: 100%;
  background: #ffffff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /*padding: 33px 30px;*/
}

.wrap-table100 {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.table {
    padding-right: 10%;
  width: 100%;
  display: table;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

.row_content {
  display: flex;
  background: #fff;
}

.rowheader {
    justify-content: center;
    align-content: center;
    text-align: center;
  color: #ffffff;
  background: #2082f7;
}

@media screen and (max-width: 768px) {
  .rowheader {
    display: block;
  }

  .rowheader.header {
    padding: 0;
    height: 0px;
  }

  .rowheader .cell {
      display: block;
  }

  .rowheader .cell:before {
    font-family: Poppins-Bold;
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;

    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cell {
  display: table-cell;
    text-align: end;
}

.rowheader .cell:nth-child(1) {
  width: 12%;
  padding-left: 2%;
}

.rowheader .cell:nth-child(2) {
  width: 12%;
}

.rowheader .cell:nth-child(3) {
  width: 12%;
}

.rowheader .cell:nth-child(4) {
  width: 12%;
}

.rowheader .cell:nth-child(5) {
  width: 15%;
}


@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.row_content .cell {
  font-size: 95%;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
    padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.row_content.header .cell {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 19px;
  padding-bottom: 19px;
}

.row_content .cell:nth-child(1) {
  width: 15%;
  margin-left: 2%;
}

.row_content .cell:nth-child(2) {
  width: 15%;
}

.row_content .cell:nth-child(3) {
    margin-left: 4%;
  width: 15%;
}

.row_content .cell:nth-child(4) {
    
  width: 15%;
}
.row_content .cell:nth-child(5) {
  width: 20%;
    padding-left: 10%
}


.table, .row_content {
  width: 100% !important;
}

.row_content:hover {
  background-color: #ececff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .row_content {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }
  
  .row_content .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .row_content .cell:nth-child(1) {
    padding-left: 30px;
  }
  
  .row_content .cell {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .table, .row_content, .cell {
    width: 100% !important;
  }
}




/*--------------FOOTER-------------*/
.footer-distributed{
    position: absolute;
    bottom: 0;
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }
